.navbar-brand > img{
	height: 50px;
}
.navbar-brand {
	padding-top: 0px;
}

.timeline {
	border: 2px solid black;
	height: auto;
}
body { 
	padding-top: 70px; 
}

.bold {
	font-weight: bold;
}

.main > img {
	padding: 5px;
}

.tweetPic {
	padding-top: 5px;
	padding-right: 5px;
}